<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>球队信息管理</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/linearicons/style.css}">
    <link rel="stylesheet" th:href="@{/assets/vendor/chartist/css/chartist-custom.css}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{/assets/css/demo.css}">
    <!-- GOOGLE FONTS -->
    <link th:href="@{'https://fonts.googleapis.com/css'+'?family=Source+Sans+Pro:300,400,600,700'}" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        // 引入topbar
        <nav th:replace="~{commons/bar_admin::topbar}"></nav>
        //引入侧边栏
        <div th:replace="~{commons/bar_admin::#sidebar-nav(activeUri='fieldList')}"></div>
        //核心内容
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-heading" style="margin: 20px;">
                                <h1 class="panel-title" style="font-size: 30px" ><b>所有场地</b></h1>
                            </div>
                            <!-- TABLE HOVER -->
                            <div class="panel">

                                <div class="panel-body" style="margin: 0 auto;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">编号</th>
                                                <th style="text-align: center">场地</th>
<!--                                                <th>场馆</th>-->
<!--                                                <th>所在地</th>-->
<!--                                                <th>主教练</th>-->
<!--                                                <th>总经理</th>-->
<!--                                                <th>拥有者</th>-->
<!--                                                <th>冠军次数</th>-->
<!--                                                <th>赛区</th>-->
                                                <th style="text-align: center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center">
                                            <tr th:each="fieldinfo:${fieldPage.records}">
                                                <td th:text="${fieldinfo.fieldId}"></td>
                                                <td th:text="${fieldinfo.fieldName}"></td>
<!--                                                <td th:text="${fieldinfo.stadium}"></td>-->
<!--                                                <td th:text="${fieldinfo.location}"></td>-->
<!--                                                <td th:text="${fieldinfo.coach}"></td>-->
<!--                                                <td th:text="${fieldinfo.generalManager}"></td>-->
<!--                                                <td th:text="${fieldinfo.owner}"></td>-->
<!--                                                <td th:text="${fieldinfo.numberOfChampions}"></td>-->
<!--                                                <td th:text="${fieldinfo.teamUnion}+'-'+${fieldinfo.division}"></td>-->
                                                <td>
<!--                                                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" >编辑</button>-->
                                                    <button class="btn btn-primary btn-toastr"><a th:href="@{/fieldModify/{id}(id=${fieldinfo.fieldId})}" style="color: white">编辑</a></button>
                                                    <button class="btn btn-danger btn-toastr"><a th:href="@{/fieldInfoDel/{id}(id=${fieldinfo.fieldId},pn=${fieldPage.current})}" style="color: white">删除</a></button>
                                                </td>
                                            </tr>

                                        </tbody>


                                    </table>
                                    <div >
                                        <center>
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <span style="color:deepskyblue;sex:black;border:1px solid #ddd;"><a th:href="@{/fieldList}">首页</a></span>
                                                </li>
                                                <li   class="disabled"><span style="color:deepskyblue;sex:black;border:1px solid #ddd;" ><a th:href="@{/fieldList(pn=${fieldPage.current}-1)}">上一页</a></span></li>
                                                <li class="active" th:class="${num == fieldPage.current?'active':''}" th:each="num:${#numbers.sequence(1,fieldPage.pages)}">
                                                    <a th:href="@{/fieldList(pn=${num})}" style="color:deepskyblue;sex:black;border:1px solid #ddd;" >[[${num}]]</a>
                                                </li>
                                                <li><a th:href="@{/fieldList(pn=(${fieldPage.current}+1)>${fieldPage.pages}?${fieldPage.pages}:${fieldPage.current}+1)}" href="javascript:void(0)" style="color:deepskyblue;sex:black;border:1px solid #ddd;">下一页</a></li>
                                                <li><a  href="javascript:void(0)" style="color:deepskyblue;sex:black;border:1px solid #ddd;" th:href="@{/fieldList(pn=${fieldPage.pages})}">尾页</a></li>
                                                <li><span class="[object Object]" style="color:deepskyblue;sex:black;border:1px solid #ddd;">共[[${fieldPage.pages}]]页</span></li>
                                                <li><span class="[object Object]" style="color:deepskyblue;sex:black;border:1px solid #ddd;">共条[[${fieldPage.total}]]记录</span></li>
                                            </ul>
                                        </center>
                                    </div>


                                </div>
                            </div>
                            <!-- END TABLE HOVER -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
    </div>
    <!-- Javascript -->
    <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!--    <script th:src="@{/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>-->
<!--    <script th:src="@{/assets/vendor/chartist/js/chartist.min.js}"></script>-->
    <script th:src="@{/assets/scripts/klorofil-common.js}"></script>
    <script>
        $(function() {
            var data, options;

            // headline charts
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [23, 29, 24, 40, 25, 24, 35],
                    [14, 25, 18, 34, 29, 38, 44],
                ]
            };

            options = {
                height: 300,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: false
                },
                lineSmooth: false,
            };

            new Chartist.Line('#headline-chart', data, options);


            // visits trend charts
            data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                series: [{
                    name: 'series-real',
                    data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
                }, {
                    name: 'series-projection',
                    data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
                }]
            };

            options = {
                fullWidth: true,
                lineSmooth: false,
                height: "270px",
                low: 0,
                high: 'auto',
                series: {
                    'series-projection': {
                        showArea: true,
                        showPoint: false,
                        showLine: false
                    },
                },
                axisX: {
                    showGrid: false,

                },
                axisY: {
                    showGrid: false,
                    onlyInteger: true,
                    offset: 0,
                },
                chartPadding: {
                    left: 20,
                    right: 20
                }
            };

            new Chartist.Line('#visits-trends-chart', data, options);


            // visits chart
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [6384, 6342, 5437, 2764, 3958, 5068, 7654]
                ]
            };

            options = {
                height: 300,
                axisX: {
                    showGrid: false
                },
            };

            new Chartist.Bar('#visits-chart', data, options);


            // real-time pie chart
            var sysLoad = $('#system-load').easyPieChart({
                size: 130,
                barColor: function(percent) {
                    return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
                },
                trackColor: 'rgba(245, 245, 245, 0.8)',
                scaleColor: false,
                lineWidth: 5,
                lineCap: "square",
                animate: 800
            });

            var updateInterval = 3000; // in milliseconds

            setInterval(function() {
                var randomVal;
                randomVal = getRandomInt(0, 100);

                sysLoad.data('easyPieChart').update(randomVal);
                sysLoad.find('.percent').text(randomVal);
            }, updateInterval);

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

        });
    </script>
    <!--    模态框-->
<!--    <script>-->
<!--        $('#myModal').on('show.bs.modal', function (event) {-->
<!--            var button = $(event.relatedTarget)-->
<!--            var id = button.data('id')-->
<!--            var name = button.data('name')-->
<!--            var email = button.data('email')-->
<!--            var age = button.data('age')-->
<!--            var modal = $(this)-->
<!--            modal.find('.modal-body id').val(id)-->
<!--            modal.find('.modal-body name').val(name)-->
<!--            modal.find('.modal-body email').val(email)-->
<!--            modal.find('.modal-body age').val(age)-->
<!--        })-->
<!--    </script>-->
</body>
</html>